@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(239, 239, 239);
}

.max {
    width: 100%;
    height: 100%;
    /*background: rgb(0,138,255);
    background: linear-gradient(42deg, rgba(0,138,255,1) 0%, rgba(253,0,255,1) 100%);*/
    background-color: black;
}

#canvas {
    width: 100%;
    height: 100%;
}

.slider {
    width: 3em;
}

option, input {
    float: right;
}  

#info {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 3em;
    background-color: rgb(20, 20, 20);
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
}

#controls-title {
    font-weight: normal;
    font-size: 2em;
    margin: 0.5em 0;
    padding: none;
}

.inline {
   display: inline; 
}

.num-text {
    width: 2em;
}

.label {
    padding-right: 8px;

   /* font-weight: bold; */
}

.control {
    margin-top: 0.5em;
}
