html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.max {
    width: 100%;
    height: 100%;
    /*background: rgb(0,138,255);
    background: linear-gradient(42deg, rgba(0,138,255,1) 0%, rgba(253,0,255,1) 100%);*/
    background-color: black;
}

#canvas {
    width: 100%;
    height: 100%;
}

.slider {
    width: 3em;
}

#info {
    position: absolute;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.inline {
    display: inline;
}

.num-text {
    width: 2em;
}

.label {

}

.control {
  

}